html.dark body .link-complex-target,
html.dark body a.link-complex .hash,
html.dark body a.link-complex,
html.dark body a.link-complex .username,
html.dark body a.link-complex > *,
html.dark body a.link-complex,
html.dark body a.account-link,
html.dark body .js-other-replies-link.other-replies-link,
html.dark body .tweet-text a.url-ext[href],
html.dark .txt-mute a:not(:hover):not(:focus) {
	color: white;
	-webkit-text-decoration-color: #2563eb !important;
	text-decoration-color: #2563eb !important;
	text-decoration: 1px #2563eb underline !important;
	text-underline-offset: 2px !important;
}

html.dark body .media-sensitive {
	background: rgb(30, 30, 30);
}

html.dark body {
	font-family: "Albert Sans", sans-serif !important;
}

html.dark body .js-app-columns-container.app-columns-container,
html.dark body .column-scroller {
	overflow: none !important;
}

html.dark body .column-drag-handle,
html.dark body .column-number,
html.dark body .js-column-message,
html.dark body .Notification.Notification--red,
html.dark body .column-header-links,
html.dark body .tweet-detail-actions,
html.dark body .tweet-actions {
	display: none !important;
}

html.dark body .tweet-translation-original-text {
	font-size: 14px !important;
}

html.dark body .tweet-translation-attribution-text {
	font-size: 12px !important;
}

html.dark body .js-tweet-translation-text {
	color: #f64200;
}
